@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:200,300,400,500,600,700,800');

body {
    font-family: 'Saira Extra Condensed', sans-serif !important;
}

body a:hover {
	color: #C5AD7C;
	text-decoration: none;
}
.contact_btn .fl-button-text{
    	color: #fff!important;
	}
/* Header Css */

/* .navHover {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 95px;
	z-index: 1;
	background: rgba(255, 255, 255, 0.9);
} */
.product-grid .row{
	display: flex;
    flex-wrap: wrap;
}

header.fl-page-header-primary {
	position: relative;
	z-index: 11;
}

.mobile,
.productMobile {
	display: none;
}

.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li>a:hover,
.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu li a:hover,
.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li>a:focus,
.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu li a:focus {
	color: #B89E69;
}

.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li.current-menu-item>a {
	color: #B89E69;
}

.fl-page-nav-right .fl-page-header-logo {
	/* 	margin:10px; */
}

.fl-page-header-primary .fl-logo-img {
	/* 	background-color: #1e1e1e; */
	/* 	padding: 25px 15px 25px 15px; */
}

.fl-page-nav-right.fl-page-header-fixed .fl-page-header-container {
	padding: 0;
}

.fl-page-header-logo-col {
	position: relative;
}

.fl-page-header-logo a {
	position: relative;
	padding: 30px 15px;
	background: #000;
	margin-bottom: -30px;
	z-index: 1;
	display: inline-block;
}

.fl-page-nav ul.sub-menu {
	width: 300px;
}

.fl-page-fixed-nav-wrap.col-md-8.col-sm-12 {
	width: 78%;
}

.fl-page-fixed-nav-wrap .fl-page-nav-collapse {
	float: left !important;
}

.breadcrumbs {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 25px;
	padding-top: 15px 0px 15px 25px;
	width: 56.3%;
	text-align: left;
	margin: 0 auto;
	font-family: 'Saira Extra Condensed',sans-serif !important;
	display: none;
}

.breadcrumbs a {
	color: #333333;
	font-weight: 400;
}

.fl-page-nav-right .fl-page-header-row>div.searchMobile {
	display: none;
}

.breadcrumbs span.current {
	color: #B99F66;
}

.col-md-4.col-sm-12.fl-page-header-logo-col {
	position: relative;
	z-index: 999;
}

.searchMobile,
.searchMobile .fl-page-nav-search {
	position: static;
}

.fl-page-nav-search form {
	width: 100%;
}

.fl-page-nav-right .fl-page-header-row>div {
	float: none;
}

.fl-page-nav-right .fl-page-header-logo {
	text-align: right;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover {
	color: #C5AD7C;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a {
	color: #C5AD7C;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a {
	color: #C5AD7C;
}

/* Slider Css */
.fl-slide-text p {
	font-size: 22px;
	font-weight: 300;
	line-height: 35px;
	color: #FFFFFF;
}

.fl-slide-cta-button .fl-button-text {
	font-size: 18px;
	font-weight: 600;
	color: #39393A;
	line-height: 28px;
}

.slider-prev .fl-content-slider-svg-container svg {
	display: none;
}

.slider-next .fl-content-slider-svg-container svg {
	display: none;
}

.slider-prev .fl-content-slider-svg-container::after {
	content: url('/wp-content/uploads/2018/04/prev-icon.png');
}

.slider-next .fl-content-slider-svg-container::after {
	content: url('/wp-content/uploads/2018/04/next-icon.png');
	float: right;
}

.fl-content-slider-navigation .slider-next {
	right: 0px;
}

.fl-content-slider-navigation .slider-prev {
	left: 0px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff;
	display: block;
	width: 20px;
	height: 20px;
	margin: 120px 5px;
	border-radius: 10px;
	border: 2px solid #fff;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover {
	background: transparent !important;
	border: 2px solid #fff;
}

.bx-pager-link.active {
	background: transparent !important;
}

.fl-node-5ad83452a038d {
	position: absolute;
	margin: auto;
	width: 100%;
	top: 0;
	text-align: center;
	height: 300px;
	bottom: 0;

}

.slidercontent h2, .slidercontent h1  {
	color: #FFFFFF;
	line-height: 87px;
}

.slidercontent p {
	font-size: 22px;
	font-weight: 300;
	line-height: 35px;
	color: #FFFFFF;
}

.collectiontxt h2 {
	font-size: 45px;
	line-height: 61px;
	color: #000000;
}

.collectiontxt p {
	font-size: 18px;
	font-weight: 300;
	line-height: 35px;
	color: #888181;
}

.fl-node-5ad85ad286563 {
	border-top: 1px solid #ccc;
}

/* Home Page Css */
.hometabs .fl-tabs-labels {
	margin: 0px 40px;
	text-align: center;
}

.hometabs .fl-tabs-label {
	color: #888181;
	font-weight: 300;
	font-size: 18px;
	line-height: 35px;
	text-align: center;
	padding: 12px 38px;
}

.hometabs .fl-tab-active {
	color: #B89E69;
}

.hometabs .fl-tabs-labels .fl-tabs-label {
	display: inline-block;
	float: none;
}

.tabToSlider>.fl-node-content {
	margin-top: 0;
}

.hometabs .fl-tabs-label.fl-tab-active {
	border-bottom: 3px solid #C5AD7C !important;
	margin-bottom: 0px;
	border-top: none;
	border-left: 0;
	border-right: 0;
	padding: 12px 38px;
}

.hometabs .tabbedcontent {
	width: 40%;
	background-color: #fff;
	padding: 75px;
	float: right;
	text-align: center;
	margin: 10%;
}

.tabbedcontent .topquaility {
	color: #746E6D;
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;
}

.tabbedcontent h2 {
	color: #4A4A4A;
	font-size: 45px;
	line-height: 61px;
	margin: 0px;
}

.tabbedcontent .destxt {
	color: #888181;
	font-size: 18px;
	font-weight: 300;
	line-height: 35px;
	text-align: center;
}

.inspiration h2 {
	color: #000000;
	font-size: 45px;
	line-height: 61px;
	text-align: center;
	margin: 0;
}

.inspiration p {
	color: #888181;
	font-size: 18px;
	font-weight: 300;
	line-height: 35px;
	text-align: center;
}

.feellove h2.fl-slide-title {
	color: #4A4A4A !important;
	font-size: 45px;
	line-height: 61px;
	text-align: center;
}

.fl-node-5ad9b0dbb4e49 .fl-slide-1 .fl-slide-text,
.fl-node-5ad9b0dbb4e49 .fl-slide-2 .fl-slide-text,
.fl-node-5ad9b0dbb4e49 .fl-slide-3 .fl-slide-text {
	color: #888181 !important;
}

.feellove .fl-slide-text {
	color: #888181 !important;
	font-size: 18px;
	font-weight: 300;
	line-height: 35px;
	text-align: center;
}

.feellove .bx-wrapper .bx-pager.bx-default-pager a {
	background: #000;
	display: block;
	border: 1px solid #000;
}

.feellove .bx-wrapper .bx-pager.bx-default-pager a:hover {
	background: transparent !important;
	border: 1px solid #000;
}

.feellove .bx-pager-link.active {
	background: transparent !important;
}

.topProducts h2 {
	color: #FFFFFF;
	font-size: 45px;
	line-height: 61px;
}

.fl-node-5ad9b0dbb4e49 .fl-slide-foreground {
	margin: 0 auto;
	max-width: 1100px;
	/*     padding: 160px 80px; */
	width: 80%;
}

.fl-node-5ad9b16aca75d {
	position: absolute;
	max-width: 40%;
	top: 25px;
}

.fl-node-5ad9c54949f60 {
	margin-bottom: 140px;
}

.productName a {
	font-size: 18px;
	font-weight: 500;
	line-height: 41px;
	color: #B89E69;
	width: 67%;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.productBrand {
	font-size: 18px;
	font-weight: 500;
	line-height: 41px;
	color: #746E6D;
	width: 50%;
	float: left;
}

.productColor {
	font-size: 18px;
	font-weight: 300;
	line-height: 41px;
	text-align: right;
	color: #746E6D;
	float: right;
}

.productWrap .product-grid .fl-button-center {
	width: 100% !important;
}

.productImage .fl-module img {
	width: 100%;
}

.likeIcon {
	text-align: right;
	width: 34%;
	float: right;
	margin-top: 10px;
	display: none;
}

.staticContent {
	color: #888181;
	font-size: 18px;
	font-weight: 300;
	line-height: 35px;
}

/* Flooring Option page css */
.fl-node-5add7630134d1,
.fl-node-5add8046adfaf,
.fl-node-5add80451ca76,
.fl-node-5ae1758fc2a0b,
.fl-node-5ae1758fc2bfd,
.fl-node-5ae1758fc2e6e {
	position: absolute;
	max-width: 46%;
	top: 25px;
}

.fl-node-5add768b9436b,
.fl-node-5add8046ae030,
.fl-node-5ae1758fc2a8b,
.fl-node-5ae1758fc2c7b,
.fl-node-5ae1758fc2e2e {
	width: 57%;
	margin: 0 auto;
	padding: 30px;
}

.fl-node-5ae1752c42233,
.fl-node-5ae1752c42411,
.fl-node-5ae1752c42663,
.fl-node-5ae175f51c29f,
.fl-node-5ae175f51c49d,
.fl-node-5ae1766971439,
.fl-node-5ae176697160d {
	position: absolute;
	max-width: 46%;
	top: 0;
	bottom: 0;
	height: 90%;
	margin: auto;
}

.fl-node-5ae1752c42233 .fl-module-content,
.fl-node-5ae1752c42411 .fl-module-content,
.fl-node-5ae1752c42663 .fl-module-content,
.fl-node-5ae175f51c29f .fl-module-content,
.fl-node-5ae175f51c49d .fl-module-content,
.fl-node-5ae1766971439 .fl-module-content,
.fl-node-5ae176697160d .fl-module-content {
	margin: 0px;
	/*     width: 84%; */
	/*     padding: 8% 0; */
}

.fl-node-5ae1752c422a9,
.fl-node-5ae1752c42487,
.fl-node-5ae1752c42628,
.fl-node-5ae175f51c31e,
.fl-node-5ae175f51c6db,
.fl-node-5ae175f51c51c,
.fl-node-5ae17669714ae,
.fl-node-5ae1766971821,
.fl-node-5ae1766971686 {
	width: 57%;
	margin: 0 auto;
	padding: 30px;
}

.fl-node-5add80451cb02 {
	width: 61%;
	margin: 0 auto;
	padding: 30px;
}

.staticContentS {
	font-weight: 300;
	line-height: 35px;
	font-size: 18px;
	color: #888181;
}

.fl-submenu-indicator .fl-page-nav ul.navbar-nav > li.menu-item-has-children > a:after{
	font-family: 'Font Awesome 5 Free'!important;
    content: '\f107';
    font-weight: 900;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.browseProduct {
	font-size: 18px;
	line-height: 28px;
	color: #B89E69;
	font-weight: 600;
	letter-spacing: 1.64px;
}

.fl-node-5add8367f279e {
	width: 57%;
	margin: 0 auto;
	padding: 30px;

}

.fl-node-5add89003bdd4 {
	width: 62%;
	margin: 0 auto;
	padding: 30px;

}

/* Carpet page css */
.brosweCatalog h2 {
	color: #B89E69;
	font-size: 25px;
	font-weight: 300;
	line-height: 35px;
	margin-top: 0px;
}

.brosweCatalog h2 a {
	color: #B89E69;
	font-size: 25px;
	font-weight: 300;
	line-height: 35px;
	margin-top: 0px;
}

/* Carpet FAQS page */
.carpetFaq .fl-tabs-labels {
	margin: 0px 40px;
	display: flex;
    justify-content: center;
}

.carpetFaq .fl-tabs-label {
	color: #898989;
	font-weight: bold;
	font-size: 22px;
	line-height: 35px;
	text-align: center;
	padding: 12px 50px;
}

.carpetFaq .fl-tab-active {
	color: #212121;

}

.carpetFaq .fl-tabs-label.fl-tab-active {
	border-bottom: 3px solid #C5AD7C !important;
	margin-bottom: 0px;
	border-top: none;
	border-left: 0;
	border-right: 0;
	padding: 12px 50px;
}

.carpetFaq .fl-node-5adda07b3fc03 .fl-tabs-panels,
.fl-node-5adda07b3fc03 .fl-tabs-panel {
	border: none;
	background-color: #F8F6F4;
}

.carpetFaq .fl-tabs-panel-content {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0px;
}

.carpetFaq strong {
	color: #888181;
	font-size: 22px;
	font-weight: bold;
	line-height: 35px;
}

.staticContent p {
	color: #888181;
	font-size: 22px;
	font-weight: 300;
	line-height: 35px;
}
.staticContent  a{
	color: #888181;

}

.globalRow .fl-rich-text p {
    margin: 0;
    padding: 0;
}



/* Hardwood Inspiraration page Css */
.page-id-228 .fl-photo-content a {
	position: relative;
}

.page-id-228 .fl-photo-content a:hover::after {
	content: url('/wp-content/uploads/2018/04/zoom.png');
	/* z-index: 9999; */
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
}

/* Kitchen & Bath page CSS */
.kitchenBathtabs .fl-tabs-labels {
	margin: 0px 40px;
}

.kitchenBathtabs .fl-tabs-label {
	color: #888181;
	font-weight: 300;
	font-size: 22px;
	line-height: 35px;
	text-align: center;
	padding: 12px 38px;
}

.kitchenBathtabs .fl-tab-active {
	color: #B89E69;

}

.kitchenBathtabs .fl-tabs-label.fl-tab-active {
	border-bottom: 3px solid #C5AD7C !important;
	margin-bottom: 0px;
	border-top: none;
	border-left: 0;
	border-right: 0;
	padding: 12px 38px;
}

.kitchenBathtabs .tabbedcontent {
	width: 45%;
	background-color: #fff;
	padding: 75px;
	float: right;
	text-align: center;
	margin: 10%;
}

/* Product Listing page Css */
.productImage {
	width: 100%;
	overflow: hidden;

}

.productWrap .product-grid .fl-button-center {
	margin-top: 0;
}

.productWrap .col-sm-6 {
	padding: 0 30px;
}

.productWrap .product-grid .fl-button-center .fl-button {
	padding: 20px 40px;
}

.facetwp-counts {
	float: none;
	display: inline-block;
	margin-right: 3px;
}

.resultcnt,
.facetwp-sort-select {
	color: #000000;
	font-size: 20px;
	letter-spacing: 0.88px;
	line-height: 19px;
}

.facetwp-toggle {
	color: #000000;
	font-size: 18px;
	letter-spacing: 0.88px;
	line-height: 19px;
	margin-top: 17px;
	display: inline-block;
	margin-left: 25px;
	text-decoration: underline;
}

.facetTxt {
	line-height: 42px;
	letter-spacing: 1.13px;
	font-weight: 200;
	font-size: 18px;
	color: #000000;
}

.product-filter-title strong {
	color: #000000;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 1.38px;
	line-height: 35px;
}

.facetwp-facet {
	margin-bottom: 40px;
	border-bottom: 1px solid #979797;
	padding-bottom: 25px;
}

.facetwp-checkbox.checked {
	background-color: #C5AD7C;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.13px;
	line-height: 42px;
	color: #FFFFFF;
	background-position: 10px 15px;
	padding-left: 30px;
}

.facetwp-checkbox.checked .facetwp-counter::after {
	content: url('/wp-content/uploads/2018/04/close.png');
	margin-right: 20px;
	float: right;
}

.product-grid a.fl-button,
.tabbedcontent a.fl-button {
	background: #C5AD7C !important;
	color: #FFFFFF !important;
}

.product-grid a.fl-button:hover,
.tabbedcontent a.fl-button:hover {
	border: 1px solid #C5AD7C;
}

.product-grid a.fl-button span,
.product-grid a.fl-button strong {
	color: #FFFFFF !important;
}

.product-grid .col-md-6.col-sm-6 {
	margin-bottom: 20px;
}

.filterTxt {
	color: #000000;
	font-size: 14px;
	font-weight: 200;
	letter-spacing: 0.88px;
	line-height: 19px;
}

.facetwp-page {
	color: #000000;
}

.facetwp-page.active {
	color: #C5AD7C;
}

/* Product Detail page CSS */

.fl-content.product {
	margin: 40px 0 0px 0;
}

.product-detail .fl-post {
	margin-bottom: 0px;
}

.product-detail .row {
	margin: 0px;
}

.productDName {
	color: #000000;
	font-size: 35px;
	font-weight: 500;
	line-height: 55px;
	text-align: center;
	border-bottom: 1px solid #9B9B9B;
	padding-bottom: 10px;
	margin: 20px 20px;
}

.productInfo {
	background-color: #F8F6F4;
	margin-top: 2% !important;
	padding-bottom: 5% !important;
}

.colorTxt {
	color: #888181;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	text-align: center;
	padding-top: 2%;
}

h2.colorName {
	color: #4A4A4A;
	font-size: 45px;
	line-height: 61px;
	text-align: center;
	margin-top: 0;
}

.brandLogo {
	text-align: right;
	margin-right: 4%;
}

.brandLogo img {
	width: 267px;
	height: 114px;
}

.requestQuote {
	background-color: #C5AD7C;
	text-align: center;
	width: 260px;
	padding: 15px;
	margin-top: 30px;
	float: right;
	margin-right: 4%;
}

.requestQuote a {
	color: #FAF8F4;
	font-size: 22px;
	font-weight: 500;
	line-height: 27px;
	text-align: center;
}

.requestQuote:hover a {
	color: #333333;
}

.scheduleEstimate {
	text-align: center;
	width: 260px;
	padding: 15px;
	margin-top: 10px;
	border: 2px solid #4A4A4A;
	float: right;
	margin-right: 4%;
}

.scheduleEstimate a {
	color: #4A4A4A;
	font-size: 22px;
	font-weight: 500;
	line-height: 27px;
	text-align: center;
}

.attributeInfo {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 13px;

}

.leftattribute {
	width: 50%;
	text-align: left;
	color: #4A4A4A;
	font-size: 22px;
	font-weight: 200;
	line-height: 35px;
	display: inline-block;
}

.rightattribute {
	width: 50%;
	text-transform: uppercase;
	text-align: left;
	color: #4A4A4A;
	font-size: 22px;
	font-weight: 500;
	line-height: 35px;

}

.productImg {
	height: 400px;
	width: 400px;
	overflow: hidden;
}

.srlinks {
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
}

.swatch,
.room {
	color: #4A4A4A;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	text-align: center;
	opacity: 0.3;
	cursor: pointer;
	width: 10%;
	display: inline-block;
	margin-bottom: 30px;
	border-bottom: 1px solid #4A4A4A;
	margin-right: 15px;
}

.room i {
	display: none;
}

.Imgactive {
	color: #4A4A4A;
	font-weight: 600;
	font-size: 18px;
	opacity: 1;
	border: none;
}

.viewmore {
	color: #4A4A4A;
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;

}

.showmore {
	display: none;
}

.warrentinfo {
	color: #888181;
	font-size: 18px;
	font-weight: 300;
	line-height: 35px;
}

#roomimg {
	display: none;
}

/* Product Detail page slider */

.fr-slider {
	position: relative;
}

.fr-slider .arrow {
	position: absolute;

	z-index: 2;

	line-height: 100px;

	width: 50px;

}

.fr-slider .arrow.prev {
	left: 0px;
	opacity: 1 !important;
}

.fr-slider .arrow.next {
	right: 0px;
	opacity: 1 !important;
}

.fr-slider .slides {
	margin: 0px 10px;
}

.fr-slider .slide {
	padding: 0px 7px;
}

.fl-page-nav ul.sub-menu li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

.fl-page-nav ul.sub-menu li:last-child {
	border-bottom: 0;
}

.fl-page-nav ul.sub-menu {
	padding: 0;
	border-top: 0;
}

.fl-page-nav-right .fl-page-header-container {
	padding-top: 0;
	padding-bottom: 0;
}

.maxwidth-60 {
	max-width: 60%;
	margin: 0 auto;
	font-size: 18px;
}

.maxwidth-60 .fl-module-content {
	margin: 0;
}

.leftSideImageSection .leftImage,
.rightSideImageSection .rightImage {
	padding-top: 40px;
	padding-bottom: 40px;
}

.rightSideImageSection .rightImage>.fl-module-content {
	margin-left: -30%;
}

.leftSideImageSection .leftImage>.fl-module-content {
	margin-right: -30%;
}

.leftSideImageSection .staticContentS>.fl-module-content {

	margin-right: 10%;
	margin-left: 25%;
}

.rightSideImageSection .staticContentS>.fl-module-content {

	margin-left: 10%;
	margin-right: 25%;
}

.fl-page-footer-wrap #gform_1 #input_1_2 {
	max-width: 350px;
	padding-right: 50px;
	border-radius: 0;
	width: 100% !important;
}

.fl-page-footer-wrap .gform_wrapper form {
	max-width: 350px;
	width: 100%;
	display: inline-block;
	position: relative;
}

.fl-page-footer-wrap .gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0;
}

.fl-page-footer-wrap #gform_1 .gform_footer.top_label {

	text-align: center;
	position: absolute;
	bottom: 0;
	left: auto;
	right: 15px;
	padding: 0;
	margin: 0;
	width: auto;
}

.fl-page-footer-wrap .gform_wrapper .gform_footer input[type=image] {
	top: auto;
}

.fl-page-footer-wrap #text-3 {
	margin-top: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.43);
}

.fl-page-footer-wrap .featureBrand {
	border-bottom: 1px solid rgba(255, 255, 255, 0.43);
}

.staticContentS {
	margin-right: auto;
	margin-left: auto;
}

.sortBy {
	text-align: right;
}

.page-id-254 .product-grid .col-md-6.col-sm-6,
.page-id-22521 .product-grid .col-md-6.col-sm-6,
.page-id-22517 .product-grid .col-md-6.col-sm-6,
.page-id-22524 .product-grid .col-md-6.col-sm-6,
.page-id-22527 .product-grid .col-md-6.col-sm-6 {
	padding: 0 45px;
}

.page-id-254 .fl-builder-content .fl-button-center,
.page-id-22521 .fl-builder-content .fl-button-center,
.page-id-22517 .fl-builder-content .fl-button-center,
.page-id-22524 .fl-builder-content .fl-button-center,
.page-id-22527 .fl-builder-content .fl-button-center {
	width: 100% !important;
}

.page-id-254 .productName a,
.page-id-22521 .productName a,
.page-id-22517 .productName a,
.page-id-22524 .productName a,
.page-id-22527 .productName a {
	text-transform: uppercase;
}

.page-id-254 .facetwp-sort-select,
.page-id-22521 .facetwp-sort-select,
.page-id-22517 .facetwp-sort-select,
.page-id-22524 .facetwp-sort-select,
.page-id-22527 .facetwp-sort-select {
	border: 0;
}

.page-id-254 .productListingView .fl-col-has-cols,
.page-id-22521 .productListingView .fl-col-has-cols,
.page-id-22517 .productListingView .fl-col-has-cols,
.page-id-22524 .productListingView .fl-col-has-cols,
.page-id-22527 .productListingView .fl-col-has-cols {
	box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}

.productDesktop .productImg {
	margin: 0 auto;
	height: auto;
	width: auto;
	text-align: center;
}

.fl-page-footer-wrap .gform_wrapper .gform_body ul#gform_fields_1 li#field_1_2 {
	margin: 0 !important;
	max-width: 100% !important;
}

.gfield_description.validation_message {
	position: absolute;
}


/* Kitchen & Bath sub pages CSS */
.kitchenNavigation ul {
	width: 100%;
	float: left;
	list-style: none;
}

.kitchenNavigation ul li {
	color: #BEB6AF;
	font-size: 22px;
	text-align: center;
	margin-right: 70px;
	display: inline-block;
}

.kitchenNavigation ul li a {
	color: #BEB6AF;
	font-size: 22px;
	font-weight: bold;
	font-family: 'Saira Extra Condensed', sans-serif;
}

.kitchenNavigation ul li a.active {
	color: #4A4A4A;
	border-bottom: 3px solid #C5AD7C;
	padding-bottom: 5px;
	font-weight: 500;
}

.kitchenContentBg {
	background-color: #F8F6F4;
	color: #888181;
	font-size: 18px;
	font-weight: 300;
	line-height: 35px;
}

/* $500 Off flooring page CSS */
.flooring500 h2, .flooring500 h1 {
	color: #FFFFFF;
	font-size: 45px;
	line-height: 61px;
}

#gform_2 .gfield_label,
#gform_3 .gfield_label,
#gform_4 .gfield_label,
#gform_7 .gfield_label,
#gform_6 .gfield_label {
	display: none;
}

.flooring500 form {
	width: 60%;
	margin: 0 auto;
}

.flooring500 form .medium {
	height: 80px;
	font-size: 22px;
	background-color: rgba(255, 255, 255, 0.3);
	padding-left: 20px !important;
	color: #ffffff;
	font-size: 22px !important;
	font-weight: 100;
	border-radius: 0;
}

.flooring500 form .medium::-webkit-input-placeholder {
	/* Chrome */
	color: #ffffff;
	font-size: 22px;
	font-weight: 100;
	line-height: 60px;
}

.flooring500 form .medium:-ms-input-placeholder {
	/* IE 10+ */
	color: #ffffff;
	font-size: 22px;
	font-weight: 100;
	line-height: 60px;
}

.flooring500 form .medium::-moz-placeholder {
	/* Firefox 19+ */
	color: #ffffff;
	opacity: 1;
	font-size: 22px;
	font-weight: 100;
	line-height: 60px;
}

.flooring500 form .medium:-moz-placeholder {
	/* Firefox 4 - 18 */
	color: #ffffff;
	opacity: 1;
	font-size: 22px;
	font-weight: 100;
	line-height: 60px;
}

.flooring500 form .ginput_container_radio .gfield_radio>li input[type=radio],
.flooring500 form .ginput_container_checkbox .gfield_checkbox>li input[type=checkbox] {
	visibility: hidden;
	position: absolute;
}

.flooring500 form .ginput_container_radio .gfield_radio>li,
.flooring500 form .ginput_container_checkbox .gfield_checkbox>li {
	position: relative;
	margin-left: 0;
}

.flooring500 form .ginput_container_radio .gfield_radio>li>input:checked+label::after,
.flooring500 form .ginput_container_checkbox .gfield_checkbox>li>input:checked+label::after {
	content: '';
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	background: rgba(255, 255, 255);
	margin-right: 10px;
	position: absolute;
	left: 6px;
	top: 6px;
	border: 1px solid #fff;
}

.flooring500 form .ginput_container_checkbox .gfield_checkbox>li>input:checked+label::after {
	top: 6px;
	left: 6px;
}

.flooring500 form .ginput_container_radio .gfield_radio>li>label::before,
.flooring500 form .ginput_container_checkbox .gfield_checkbox>li>label::before {
	content: '';
	display: inline-block;
	height: 42px;
	width: 42px;
	background: rgba(255, 255, 255, 0.3);
	margin-right: 10px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	vertical-align: middle;
	border: 1px solid #fff;
}

.flooring500 form #label_2_8_0,
.flooring500 form #label_3_12_1,
.flooring500 form #label_4_12_1 {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
}


.flooring500.custom_radio form li#field_2_10 .gfield_checkbox {
	display: flex;
	flex-wrap: wrap;
}

.flooring500.custom_radio form li#field_2_10 .gfield_checkbox>li {
	flex: 50%;
	color: #fff;
}

.paragraphCustom .fl-rich-text>p {
	font-size: 20px;
	text-align: center;
}

.flooring500 form #gform_submit_button_2,
.flooring500 form #gform_submit_button_3,
.flooring500 form #gform_submit_button_4,
.flooring500 form #gform_submit_button_7,
.flooring500 form #gform_submit_button_6 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	color: #FFFFFF;
	background-color: #C5AD7C;
	border: none;
	width: 248px;
	text-transform: uppercase;
	height: 57px;
	border-radius: 0;
}

.flooring500 .formTxt {
	color: #FFFFFF;
	font-size: 22px;
	font-weight: 300;
	line-height: 35px;
	text-align: center;
	padding-top: 40px;
	width: 60%;
	margin: 0 auto;
}

.flooring500 form .gform_footer {
	text-align: center;
}

.offertxt a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

/* SCHEDULE AN ESTIMATE Page CSS */
/* Footer CSS */
.fl-widget {
	text-align: center;
}

.featureBrand {
	border-bottom: 1px dotted #fff;
}

.featureBrand ul {
	list-style: none;
	padding: 0;
	width: 60%;
	margin: 0 auto;
}

.featureBrand span {
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	color: #FFFFFF;
}

.featureBrand span::before {
	width: 100px;
	border-top: 1px solid #ffffff;
	content: '';
	height: 1px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;

}

.featureBrand span::after {
	width: 100px;
	border-top: 1px solid #ffffff;
	content: '';
	height: 1px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;

}

.featureBrand ul li {
	display: inline-block;
	width: 22%;
	margin: 20px !important;
}

#nav_menu-2 #menu-footer-menu li a {
	/*     color: #FFFFFF; */
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
}

#nav_menu-2 #menu-footer-menu li {
	display: inline-block;
	margin-left: 3.61%;
}

#gform_1 .gfield_required {
	display: none;
}

#gform_1 .gform_title {
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: 'Saira Extra Condensed', sans-serif;
}

#gform_1 .gform_heading {
	margin: 0px;
}

#gform_1 .gfield_label {
	display: none;
}

#gform_1 #input_1_2 {
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: #4a4a4a;
	display: inline;
	width: 30%;
	height: 50px;
}

#gform_1 #input_1_2::placeholder {
	color: #A7A7A7;
	opacity: 1;
}

#gform_1 #input_1_2:-ms-input-placeholder {
	color: #A7A7A7;
}

#gform_1 #input_1_2::-ms-input-placeholder {
	color: #A7A7A7;
}

#gform_1 .ginput_container_email {
	text-align: center;
}

#gform_1 .gform_footer.top_label {
	text-align: center;
	position: relative;
	bottom: 31px;
	left: 0;
}

.gform_wrapper .gform_footer input[type=image] {
	vertical-align: middle;
	position: relative;
	top: -32px;
}

#text-3 {
	border-top: 1px dotted #fff;
	margin-top: -86px;
}

.gform_wrapper div.validation_error {
	border: none !important;
	color: #ffffff !important;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background-color: transparent !important;
	border: none !important;
	padding: 0px !important;
	margin: 0px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
	text-align: center;
}

.copyRight {
	text-align: center;
	margin-top: 15px;
	font-size: 18px;
}

.copyRight .fresno {
	color: #FFFFFF;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
}

.copyRight .copytxt {
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 28px;
}

.copyRight ul {
	display: inline-flex;
}

.copyRight ul li {
	margin-right: 10px;
}

.copyRight ul li a {
	text-decoration: underline;
}

.copyRight ul li a:hover {
	text-decoration: none;
}

.fl-page-footer {
	display: none;
}

.fl-node-5ad82d4d3ade0 .fl-rich-text {
	position: absolute;
	margin: 0 auto;
	top: -60px;
	right: 0;
	left: 0;
}

.productWrap {
	width: 100%;
	max-width: 970px;
}

.offertxt {
	text-align: center;
	background-color: #C5AD7C;
	width: 60%;
	margin: 0 auto;
	padding: 30px;
	font-size: 34px;
	color: #fff;
	font-weight: 200;
	line-height: 54px;
}

.fa.fa-list-ul {
	margin-left: 10px;
}

.fl-page-nav-search form input.fl-search-input::placeholder {
	color: #fff;
}

.fl-page-nav-search form input.fl-search-input {
	border-color: #ffffff;
}

.gform_wrapper .gfield_checkbox li label,
.gform_wrapper .gfield_radio li label {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
}

.gform_wrapper div.validation_error {
	font-size: 16px;
	font-weight: 500;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning,
.gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_left_half,
.gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_right_half {
	padding-right: 16px !important;
	margin-top: 25px !important;
	max-width: 100%;
}

.gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_left_half,
.gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_right_half {
	position: relative;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin-top: 8px;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description,
.gform_wrapper .validation_message,
.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label,
.gform_wrapper li.gfield_error ul.gfield_checkbox,
.gform_wrapper li.gfield_error ul.gfield_radio {
	text-align: left;
	padding: 0px 0;
	font-size: 14px;
	font-weight: 500;
	color: #fcd16e;
}

.gform_wrapper ul.gform_fields li.gfield {
	margin-top: 25px;
}

.search .page .fl-post-header .fl-post-title {
	font-size: 28px;
}

.search-results .fl-page-content {
	padding-top: 50px;
}

#breadcrumbs span a {
    color: #000;
}
h2.gform_submission_error.hide_summary {
    font-size: 16px !important;
    line-height: 30px;
}

ul.social-icons li a:hover i {
    color: #c5ad7c;
}

.locationRow ul.storename, .ulStyle ul.storename, .mapDiv ul.storename, .ulStyle ul.store-opening-hrs {
    list-style: none;
	padding: 0 !important;
	margin: 0 !important;
}
.locationRow .get-dir-main .direction a {
	font-size: 18px;
	line-height: 18px;
	border: 1px solid #b9a170;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
	width: 250px;
	background: #b9a170 !important;

}
.locationRow .get-dir-main .direction a span{
	color: #fff;
}
.locationRow .get-dir-main .direction a:hover {
	background: #c49a46 !important;
	border-color: #c49a46 !important;
}
.facetwp-template .product-grid.swatch {
    width: auto;
	opacity: unset;

}
.fl-slide.fl-slide-1.fl-slide-text-center .fl-slide-text p {
    margin: 0 !important;
    padding: 0 !important;
}
.gfield_captcha_input_container.math_medium input {
    width: auto;
}
.product-detail-layout-6 .dual-button a, .button-wrapper a.button.alt{
	background: #C5AD7C !important;
    color: #FFFFFF !important;
	border: 0 !important;
}

.product-detail-layout-6 .dual-button a:hover, .button-wrapper a.button.alt:hover{
	background: #767676 !important;

}
#breadcrumbs a {
    color: #000 !important;
    font-size: 16px;
}

span.breadcrumb_last {
    font-size: 16px;
    color: #B99F66;
}
.productWrap .product-plp-grid.product-grid.swatch.related_product_wrapper.brandpro_wrapper {
    width: 100%;
    opacity: 1;
	border: 0;
}
.fl-page-bar .navbar-nav li>a {
    font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
a.fl-button:hover, .gform_footer.top_label input:hover{
	background: #c49a46 !important;
	border-color: #c49a46 !important;
}

.gfield_description.validation_message.gfield_validation_message {
    width: auto !important;
    display: block !important;
	position: static;
}



@media(min-width:1930px) {
	.breadcrumbs {
		margin-right: 0;
		width: 100%;
		margin: 0 auto;
		max-width: 1599px;
		padding-left: 290px;
	}
}


@media  (min-width:1025px) and (max-width:1366px){
	header .fl-page-nav .navbar-nav, header .fl-page-nav .navbar-nav a{
		font-size: 14px;
	}
}
@media  (max-width:1024px){
	.hometabs .tabbedcontent{
		width: 60%;
	}
	h2 {
		font-size: 40px !important;
		line-height: 50px !important;
	}
}
@media(min-width:768px) {
	.fl-page-nav-right .fl-page-nav-search {
		position: static;
		float: left;
		display: block;
	}

	.fl-page-nav-right .fl-page-nav-search a.fa-search {
		padding: 45px 5px;
	}

	.fl-page-nav-right .fl-page-nav-search a.fa-search:hover,
	.fl-page-nav-right .fl-page-nav-search a.fa-search:focus {
		color: #B89E69;
	}

	.navbar-toggle .fa.fa-bars {
		color: #fff;
	}

	.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
		padding: 8px 8px;
		text-transform: capitalize;
	}

	.fl-page-nav-right .fl-page-nav ul.navbar-nav {
		float: left !important;
	}

	.fl-builder-content a.fl-button {
		border-radius: 0;
		-webkit-border-radius: 0 !important;
		-moz-border-radius: 0;
	}

	span.fl-button-text {
		letter-spacing: 2px;
		font-weight: 200;
	}

	.leftSideImageSection,
	.rightSideImageSection {
		margin-bottom: 100px;
	}

	.fl-builder-content .staticContentS a.fl-button {
		padding: 20px 65px;
		background: #B89E69;

	}

	.fl-builder-content .staticContentS a.fl-button:hover {
		border-color: #ffffff;
	}

	.fl-builder-content .staticContentS a.fl-button span.fl-button-text,
	.fl-builder-content a.fl-button span.fl-button-text {
		font-weight: 400;
		color: #ffffff;
	}

	.fl-builder-content .slidercontent a.fl-button span.fl-button-text {
		color: #000;
	}

	.fl-builder-content .slidercontent a.fl-button:hover span.fl-button-text {
		color: #fff;
	}

	.fl-page-nav-right.fl-page-header-fixed .fl-page-nav-search a.fa-search {
		padding: 12px 5px;
	}

	.fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a,
	.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a {
		padding: 10px 20px;
	}

}

@media (max-width: 1200px) and (min-width: 768px) {
	.productWrap {
		width: 100%;
	}

	.fl-builder-content .fl-node-5ad9c95d66c99 {
		width: 100% !important;
	}

	.productImage {
		height: auto;
	}

	.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
		padding: 8px 8px;
		text-transform: capitalize;
		font-size: 11px;
	}

	.bx-wrapper .bx-pager.bx-default-pager a {
		margin: 40px 5px;
	}

	.fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a,
	.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a {
		padding: 15px 10px;
	}

	.fl-page-header-logo a {
		padding: 35px 15px;
		margin-bottom: -25px;
	}

	.fr-slider .slides {
		margin: 0 60px;
	}

	.maxwidth-60 {
		max-width: 90%;
	}
	.kitchenNavigation ul li{
		margin-bottom: 20px;
	}
}


@media(max-width:768px) {
	strong.open_sidebar {
		display: block;
	}
	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav-collapse ul.navbar-nav>li>a:hover,
	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav-collapse ul.navbar-nav>li>a:focus,
	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav ul.sub-menu li a:hover,
	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav ul.sub-menu li a:focus {
		color: #C5AD7C;
	}

	.maxwidth-60 {
		max-width: 90%;
		text-align: left;
	}

	.fr-slider .arrow {
		height: auto;
		line-height: 00;
		display: inline-block;
		top: -2px;
	}


	.rightSideImageSection .rightImage>.fl-module-content {
		margin-left: -0%;
	}

	.leftSideImageSection .leftImage>.fl-module-content {
		margin-right: -0%;
	}

	.leftSideImageSection .staticContentS>.fl-module-content {

		margin-right: 10%;
		margin-left: 10%;
	}

	.rightSideImageSection .staticContentS>.fl-module-content {

		margin-left: 10%;
		margin-right: 10%;
	}

	.rightSideImageSection .fl-col-group-equal-height {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}

	.fl-page-nav-right .fl-page-header-row>div {
		float: left;
	}

	.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
		padding: 25px;
	}

	.fl-page-nav-toggle-icon .fl-page-nav-collapse {
		position: absolute;
		right: 0;
		left: 0;
		z-index: 1;
		top: 138px;
		BACKGROUND: #1e1e1e;
	}

	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav-collapse ul.navbar-nav>li.current-menu-item>a {
		color: #C5AD7C;
	}

	.hometabs .tabbedcontent {
		width: 90%;
		padding: 20px;
		margin: 20px;
	}
	.tabP1{
		height: 50vh !important;
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
	.fl-builder-content .bx-wrapper .bx-viewport {
		height: auto !important;
	}

	.bx-wrapper .bx-pager {
		bottom: -50px;
	}

	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		background: none;
	}

	.feellove .fl-slide-text>p {
		color: #888181 !important;
	}

	.offertxt {
		width: 90%;
	}

	.fl-page-header-logo a {
		padding: 20px 15px;
		margin-bottom: -55px;
	}

	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {
		padding: 0 0 30px;
		text-align: center;
	}

	.swatch,
	.room {
		width: auto !important;
	}

	.swatch.Imgactive .fa,
	.room.Imgactive .fa {
		display: block;
	}

	.requestQuote,
	.scheduleEstimate {
		width: 100%;
	}

	.ipadBanner .fl-row-content-wrap {
		min-height: 60vh !important;
	}

	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav ul.sub-menu li {
		border-bottom: 0;
		border-top: 0;
	}

	.breadcrumbs {
		width: 90%;
	}

	.flooring500 form .medium::placeholder {
		line-height: inherit;
	}

	.kitchenNavigation ul li {
		display: block;
		margin: 0 auto 15px;
		text-align: center;
	}

	.product-filter {
		display: none;
	}

	form.searchActive,
	.fl-page-nav-right .fl-page-header-row>div.searchMobile {
		display: block !important;
	}

	header.fl-page-header .fl-page-header-row.row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	header.fl-page-header .fl-page-header-row.row>div {
		flex: 1;
	}
	header.fl-page-header .fl-page-header-row.row>div .fl-page-header-logo{
		margin: 0 auto;
	}
	
	header.fl-page-header .fl-page-header-row.row>div .fl-page-header-logo a {
		padding: 20px 15px;
		margin-bottom: 0;
	}
	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle{
		position: static;
		margin-right: 0 !important;
		margin-left: auto;
	}
	.kitchenNavigation ul{
		padding-left: 0;
	}
	.fl-col-group-nested{

	}
	.carpetFaq .fl-tabs-labels{
		display: none;
	}

	.ipadBanner + div .fl-col-group-nested {
		display: flex;
		align-items: center;
	}
	.ipadBanner + div .fl-col-group-nested .fl-col {
		flex: 1;
	}	
	.ipadBanner + div .fl-col-group-nested .fl-col .resultcnt{
		text-align: right;
	}
	.fl-builder-content .filterTxt  .fl-button-left{
		text-align: left;
	}
	.HomepageSlider .fl-content-slider {
		min-height: 370px !important;
	}
	.HomepageSlider .bx-wrapper .bx-viewport {
		height: 370px !important;
	}
	.fl-page-header-logo-col .fl-page-header-logo {
		padding-bottom: 0 !important;
	}
	div#Static .fl-slide-content {
		padding: 0 !important;
	}
	.topProducts {
		margin-bottom: 0;
	}
	.page.page-id-241 .fl-builder-content > .fl-row.fl-row-fixed-width.fl-row-bg-none {
		display: none;
	}
	.facet_filters .close_bar .close i{
		color: #000 !important;
	}
	.facet_filters .close_sidebar_button .close_sidebar{
		background: #000;
	}
	h1 {
		font-size: 40px !important;
		line-height: 50px !important;
	}
	.open_sidebar a.fl-button span.fl-button-text {
		color: #000 !important;
	}
	.fl-page-nav-search form{
		left: 0;
		top: 70px;
	}
	.plp-result, .plp-result .fl-html p {
		text-align: center;
	}
	.gfield_description.validation_message.gfield_validation_message{
		position: static;
	}

}


/*  Responsive CSS */


@media(max-width:767px) {
	.bx-wrapper .bx-pager {
		bottom: -30px;
	}

	.staticContentS {
		margin: -110px auto 0 !important;
	}

	.leftSideImageSection .leftImage,
	.rightSideImageSection .rightImage {
		padding: 0;
	}

	.fl-node-5aded58178250 .fl-module-content {
		margin: 0;
	}

	.fl-page-footer-widgets-container {
		padding-left: 0;
		padding-right: 0;
	}

	.fl-page-footer-widgets-container .row {
		margin: 0;
	}

	.fl-page-footer-widgets-container .col-md-12 {
		padding: 0;
	}

	#nav_menu-2 #menu-footer-menu li {
		padding: 5px 15px;
	}

	/* Header CSS */
	.fl-page-header {
		/* 		height:45px; */
		z-index: 1;
	}

	.fl-node-5af192ea5252e .fl-content-slider video {
		height: 450px;
	}

	.fl-node-5ad83452a038d {
		height: 250px;
	}

	.navbar-toggle .fa,
	.fl-page-nav-right .fl-page-nav-search a.fa-search:hover {
		color: #fff;
	}

	.fl-page-header-logo-col .unactiveLogo {
		visibility: hidden;
	}

	.navbar-collapse {
		padding-top: 40px;
	}

	.col-md-2.col-sm-12.fl-page-header-logo-col {
		z-index: 999;
		margin: 0 auto;
		position: absolute;
		float: none;
		display: inline-block;
		max-width: 190px;
		left: 0;
		right: 0;
	}

	.desktop,
	.productDesktop {
		display: none;
	}

	.mobile,
	.productMobile {
		display: block;
	}

	.mobile .fa-bars::before {
		color: #ffffff;
	}

	.fl-page-header-logo-col {
		position: static;
	}

	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle {
		top: 5px;
	}

	.fl-page-header-wrap>.fl-page-header-container,
	.fl-page-header-wrap .fl-page-nav-col.col-md-8.col-sm-12 {
		padding: 0;
	}

	.fl-page-nav-right .fl-page-nav ul.navbar-nav>li a {
		text-align: center !important;
	}

	.mobile .fl-logo-img {
		margin: 0px;
		padding: 0px 15px 25px 15px;
	}

	.fl-page-nav-right .fl-page-header-logo {
		margin: 0 !important;
		padding-bottom: 0 !important;
	}

	.fl-page-nav-right .fl-page-header-row>div {
		/* 		float:left; */
	}

	.fa-close {
		color: #ffffff;
	}

	.fl-page-nav-col.col-md-10.col-sm-12 {
		width: 100%;
	}

	.fl-page-nav-search {
		display: block;
	}

	.breadcrumbs {
		display: none;
	}

	/* Home CSS */
	.product-filter {
		display: none;
	}

	.productImage {
		width: auto;
		height: auto;
		overflow: unset;
	}

	.productName a {
		font-size: 20px;
		width: 60%;
	}

	.productColor {
		width: 40%;
		font-size: 20px;
	}

	.likeIcon {
		display: none;
	}

	.fl-button-wrap.fl-button-width-auto.fl-button-center {
		width: auto !important;
		margin-top: 0 !important;
		display: block !important;
	}

	.fl-node-5ad9c9a52984d>.fl-module-content {
		margin: -148px 20px 0 20px;
		padding: 20px;
		background-color: #fff;
	}

	.topProducts h2 {
		font-size: 20px !important;
	}

	.fl-node-5ad9b16aca75d {
		max-width: 100%;
		position: unset;
	}

	.fl-node-5ad9b0dbb4e49 .fl-slide-foreground {
		width: 100%;
		padding: 0px;
	}

	.fl-module-photo.fl-node-5ad9b16aca75d .fl-module-content.fl-node-content {
		margin: 0px;
		padding: 0px;
	}

	.bx-wrapper .bx-pager.bx-default-pager a {
		width: 10px;
		height: 10px;
		margin: 5px;
		border-radius: 5px;
	}

	.fl-col.fl-node-5ad9af9c5a89e {
		margin-top: -100px;
		padding: 10px;
	}

	.fl-node-5ad9b0dbb4e49 .fl-slide-content {
		background-color: #fff !important;
	}

	.fl-node-5ad9b0dbb4e49 .fl-slide-text p {
		color: #888181 !important;
	}

	.fl-node-5ad9b0dbb4e49 .fl-module-content-slider .bx-wrapper {
		margin: 0px !important;
	}

	.fl-node-5ad82d4d3ade0 .fl-rich-text {
		position: unset;
	}

	.offertxt {
		padding: 10px;
		font-size: 20px;
		width: 100%;
	}

	.fl-node-5ad82d3f5d457 .fl-row-content-wrap {
		padding: 0px;
	}

	.fl-node-5ad82d4d3ade0 .fl-module-content.fl-node-content {
		padding: 0px;
		margin: -6px 0px 0px 0px;
	}

	.collectiontxt h2 {
		font-size: 30px !important;
		line-height: 40px;
		color: #000000;
		margin-top: 0px;
	}
	.slidercontent h1 {
		color: #FFFFFF;
		line-height: 40px;
		font-size: 50px;
	}

	.slidercontent h2 {
		color: #FFFFFF;
		line-height: 35px;
		font-size: 30px;
	}

	video {
		display: inline-block;
		vertical-align: baseline;

		height: 300px;
	}
	.tabP1{
		height: auto !important;
		display: block;
		
	} 
	.hometabs .tabbedcontent {
		width: 90%;
		background-color: #fff;
		padding: 5px 20px;
		float: none;
		text-align: center;
		margin: 5%;
		/* margin-bottom: -75%; */
	}

	.tabbedcontent .destxt {
		font-size: 16px;
	}

	.inspiration p {
		font-size: 18px;
		padding: 0 25px;
	}

	.inspiration p>br {
		display: none;
	}

	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		background: transparent;
		padding: 15px 0;
	}

	.staticContentS .fl-content-slider .fl-slide-content .fl-slide-text p {
		font-size: 18px !important;
		color: #888181 !important;
	}

	.fl-node-5aeff59c95d71>.fl-col-content {
		background: #fff;
		padding-bottom: 20px;
	}

	.leftSideImageSection .staticContentS>.fl-module-content {
		margin: 0;
	}

	.fl-node-5ad9c9a52984d>.fl-module-content {
		padding-top: 0;
	}

	.fl-node-5aeff52b92cfc .fl-slide {
		padding: 0 20px;
	}

	.fl-builder-content .fl-node-5ad9c95d66c99,
	.productWrap {
		width: 100% !important;
	}

	.productWrap .col-sm-6 {
		padding: 0 10px;
	}


	.tabbedcontent h2,
	.inspiration h2 {
		font-size: 30px !important;
	}

	.tabToSlider .fl-tabs {
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}

	.hometabs .fl-tabs-panel-content {
		margin-bottom: 0;
		padding-top: 50px;
	}

	.hometabs .fl-tabs-panels {
		border-bottom: 0;
	}

	.staticContentS h2 {
		font-size: 30px !important;
		margin-top: 0px;
	}

	/* Flooring Option CSS */
	.fl-node-5ad9f439975eb .fl-module-content.fl-node-content,
	.fl-node-5add7630134d1 .fl-module-content.fl-node-content,
	.fl-node-5add768b9436b .fl-module-content.fl-node-content,
	.fl-node-5add839eeca0c .fl-module-content.fl-node-content,
	.fl-node-5add8046adfaf .fl-module-content.fl-node-content,
	.fl-node-5add89003be4a .fl-module-content.fl-node-content,
	.fl-node-5add80451ca76 .fl-module-content.fl-node-content {
		margin: 0px;
	}

	.fl-node-5add768b9436b,
	.fl-node-5add8367f279e,
	.fl-node-5add8046ae030,
	.fl-node-5add89003bdd4,
	.fl-node-5add80451cb02 {
		width: 90%;
		margin-top: -112px;
		position: relative;
		background-color: #fff;
		padding: 10px;
	}

	.fl-node-5add7630134d1,
	.fl-node-5add8046adfaf,
	.fl-node-5add80451ca76,
	.fl-node-5add839eeca0c,
	.fl-node-5add8046adfaf,
	.fl-node-5add89003be4a,
	.fl-node-5add80451ca35 {
		max-width: 100%;
		position: unset;
	}

	.fl-node-5add763013487>.fl-col-content,
	.fl-node-5add830794839>.fl-col-content,
	.fl-node-5add8046adff0>.fl-col-content,
	.fl-node-5add89003bd99>.fl-col-content,
	.fl-node-5add80451cab9>.fl-col-content {
		background-color: #fff;
	}

	.fl-node-5add83079474f,
	.fl-node-5add89003bd5b {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}

	.fl-node-5add830794839,
	.fl-node-5add89003bd99 {
		z-index: 1;
	}

	.fl-node-5aded5940db56,
	.fl-node-5ae1784d9c031,
	.fl-node-5ae17a6db9593,
	.fl-node-5ae17be45c242,
	.fl-node-5ae17ce97c385 {
		width: 62% !important;
		display: inline-block;
	}

	.fl-node-5aded5940dbb3,
	.fl-node-5ae1784d9c078,
	.fl-node-5ae17a6db95f9,
	.fl-node-5ae17be45c282,
	.fl-node-5ae17ce97c3c5 {
		width: 34% !important;
		display: inline-block;
	}

	.fl-node-5aded5940db56 .fl-module-content,
	.fl-node-5ae1784d9c031 .fl-module-content,
	.fl-node-5ae17a6db9593 .fl-module-content,
	.fl-node-5ae17be45c242 .fl-module-content,
	.fl-node-5ae17ce97c385 .fl-module-content,
	.fl-node-5aded5940dbb3 .fl-module-content,
	.fl-node-5ae1784d9c078 .fl-module-content,
	.fl-node-5ae17a6db95f9 .fl-module-content,
	.fl-node-5ae17be45c282 .fl-module-content,
	.fl-node-5ae17ce97c3c5 .fl-module-content {
		margin: 10px 0;
	}

	.page-id-254 .product-grid .col-md-6.col-sm-6 {
		padding: 0 15px;
	}

	.resultcnt .fl-rich-text {
		font-size: 14px;
		font-weight: 500;
		text-align: right;
	}

	.open_sidebar,
	.close_sidebar_button {
		font-size: 14px;
		font-weight: 500;
	}

	.arrow {
		height: 80px;
		line-height: 65px !important;
	}

	.productImg {
		width: 100%;
		height: 100%;
		margin-top: 26px;
		display: inline-block;
	}

	.product-detail .productDName {
		margin: 0px 20px 30px;
		border-bottom: 1px solid #ccc;

	}

	.productMobile .swatchM,
	.roomM {
		width: 17%;
	}

	#roomimgM {
		display: none;
	}

	.swatchM,
	.roomM {
		color: #4A4A4A;
		font-size: 18px;
		font-weight: 500;
		line-height: 27px;
		text-align: center;
		opacity: 0.3;
		cursor: pointer;
		width: 10%;
		display: inline-block;
		margin-bottom: 30px;
		border-bottom: 1px solid #4A4A4A;
		margin-right: 15px;
	}

	.roomM i {
		display: none;
	}

	.ImgactiveM {
		color: #4A4A4A;
		font-weight: 600;
		font-size: 18px;
		opacity: 1;
		border: none;
	}

	.viewmore {
		margin-bottom: 30px;
	}

	.requestQuote,
	.scheduleEstimate {
		float: none;
		width: auto;
	}

	/* Kitchen & bath pages CSS */
	.kitchenBathtabs .tabbedcontent {
		width: 100%;
		background-color: #fff;
		padding: 7px;
		float: none;
		text-align: center;
		margin: 5% 0 !important;
	}

	/* Box layered image css */
	.fl-node-5ae1752c42233 .fl-module-content.fl-node-content,
	.fl-node-5ae1752c42663 .fl-module-content.fl-node-content,
	.fl-node-5ae1752c42411 .fl-module-content.fl-node-content,
	.fl-node-5ae1758fc2a0b .fl-module-content.fl-node-content,
	.fl-node-5ae1758fc2e6e .fl-module-content.fl-node-content,
	.fl-node-5ae1758fc2bfd .fl-module-content.fl-node-content,
	.fl-node-5ae175f51c29f .fl-module-content.fl-node-content,
	.fl-node-5ae175f51c71a .fl-module-content.fl-node-content,
	.fl-node-5ae175f51c49d .fl-module-content.fl-node-content,
	.fl-node-5ae1766971439 .fl-module-content.fl-node-content,
	.fl-node-5ae176697185b .fl-module-content.fl-node-content,
	.fl-node-5ae176697160d .fl-module-content.fl-node-content,
	.fl-node-5ae01be05d8d6 .fl-module-content.fl-node-content,
	.fl-node-5ae02b43f1c7f .fl-module-content.fl-node-content,
	.fl-node-5ae0360d20a3d .fl-module-content.fl-node-content,
	.fl-node-5ae0360d1ffb6 .fl-module-content.fl-node-content,
	.fl-node-5ae0360d20459 .fl-module-content.fl-node-content,
	.fl-node-5ae0360d201c3 .fl-module-content.fl-node-content,
	.fl-node-5ae036a3db4c8 .fl-module-content.fl-node-content,
	.fl-node-5ae036a3daa2d .fl-module-content.fl-node-content,
	.fl-node-5ae036a3daef2 .fl-module-content.fl-node-content,
	.fl-node-5ae036a3dac4e .fl-module-content.fl-node-content,
	.fl-node-5ae037fa319ff .fl-module-content.fl-node-content,
	.fl-node-5ae037fa30f92 .fl-module-content.fl-node-content,
	.fl-node-5ae037fa31439 .fl-module-content.fl-node-content,
	.fl-node-5ae037fa3119f .fl-module-content.fl-node-content,
	.fl-node-5ae1758fc2798 .fl-module-content.fl-node-content,
	.fl-node-5ae1752c41fcb .fl-module-content.fl-node-content,
	.fl-node-5ae175f51bfaa .fl-module-content.fl-node-content,
	.fl-node-5ae17669711c7 .fl-module-content.fl-node-content {
		margin: 0px;
	}

	.fl-node-5ae1752c421f9>.fl-col-content,
	.fl-node-5ae1752c425b2>.fl-col-content,
	.fl-node-5ae1752c4244c>.fl-col-content,
	.fl-node-5ae1758fc29ba>.fl-col-content,
	.fl-node-5ae1758fc2da9>.fl-col-content,
	.fl-node-5ae1758fc2c3b>.fl-col-content,
	.fl-node-5ae175f51c65b>.fl-col-content,
	.fl-node-5ae175f51c25e>.fl-col-content,
	.fl-node-5ae175f51c4dc>.fl-col-content,
	.fl-node-5ae17669713fe>.fl-col-content,
	.fl-node-5ae17669717ab>.fl-col-content,
	.fl-node-5ae176697164b>.fl-col-content,
	.fl-node-5ae0360d1ff75>.fl-col-content,
	.fl-node-5ae0360d2038d>.fl-col-content,
	.fl-node-5ae0360d20204>.fl-col-content,
	.fl-node-5ae036a3da9ea>.fl-col-content,
	.fl-node-5ae036a3dae27>.fl-col-content,
	.fl-node-5ae036a3dac91>.fl-col-content,
	.fl-node-5ae037fa30f50>.fl-col-content,
	.fl-node-5ae037fa31374>.fl-col-content,
	.fl-node-5ae037fa311e0>.fl-col-content {
		background-color: #fff;
	}

	.staticContentS {
		width: 90%;
		margin-top: -112px;
		position: relative;
		background-color: #fff;
		padding: 10px;
		margin-left: 18px;
	}

	.fl-node-5ae1752c42576,
	.fl-node-5ae1758fc2d6c,
	.fl-node-5ae175f51c61c,
	.fl-node-5ae1766971771,
	.fl-node-5ae0360d2034b,
	.fl-node-5ae036a3dade3,
	.fl-node-5ae037fa31331 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}

	.fl-node-5ae1752c425b2,
	.fl-node-5ae1758fc2da9,
	.fl-node-5ae175f51c65b,
	.fl-node-5ae17669717ab,
	.fl-node-5ae0360d2038d,
	.fl-node-5ae036a3dae27,
	.fl-node-5ae037fa31374 {
		z-index: 1;
	}

	/* Kitchen & Bath's sub pages */
	.fl-node-5ae01be05d91b .fl-row-content-wrap,
	.fl-node-5ae0360d20a80 .fl-row-content-wrap,
	.fl-node-5ae036a3db50f .fl-row-content-wrap,
	.fl-node-5ae037fa31a41 .fl-row-content-wrap {
		padding: 0px;
	}

	.kitchenNavigation .fl-module-content.fl-node-content {
		margin: 0px;
	}

	.kitchenNavigation ul li {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.kitchenNavigation ul li a {
		font-size: 20px;
	}

	.kitchenContentBg h2 {
		font-size: 30px;
	}

	/* Form CSS */

	.flooring500 h2 {

		color: #FFFFFF;
		font-size: 30px;
		line-height: 45px;
		margin-top: 25%;
		margin-bottom: 10%;

	}

	.flooring500 form {

		width: 100%;
		margin: 0 auto;

	}

	.flooring500 form #gform_submit_button_2,
	.flooring500 form #gform_submit_button_3,
	.flooring500 form #gform_submit_button_4 {
		width: 100%;
	}

	.flooring500 .formTxt {
		width: 100%;
		padding-top: 0px;
	}

	/* CMS pages CSS */
	.staticContent h2 {
		font-size: 30px !important;
		line-height: 35px;
	}

	.fl-node-5ae9d114d615c .fl-module-content.fl-node-content {
		margin: 0px;
	}

	/* Footer CSS */
	.featureBrand span::before,
	.featureBrand span::after {
		width: 70px !important;
	}

	.featureBrand ul {
		width: 100% !important;
	}

	.featureBrand ul li {
		width: 30% !important;
		;
		margin: 5px !important;
	}

	#nav_menu-2 {
		text-align: left;
	}

	#nav_menu-2 #menu-footer-menu li {
		display: block;
		padding-bottom: 5px;
		border-bottom: 1px dotted #fff;
		margin-left: 0;
	}

	#gform_1 #input_1_2 {
		width: 100%;
	}

	#gform_1 .gform_title {
		text-align: left;
	}

	#gform_1 .gform_footer.top_label {
		left: 0;
	}

	.staticContentS {
		width: 90% !important;
		padding: 0;
		margin-left: 0;
		z-index: 1;
	}

	.fl-page-header-row.row {
		margin: 0;
	}

	.tabToSlider .fl-tabs-panels .fl-tabs-label.fl-tab-active,
	.tabToSlider .fl-tabs-panel-content.fl-tab-active,
	.tabToSlider .fl-tabs-horizontal .fl-tabs-label {
		display: none;
		-webkit-transition-property: all;
		/* Safari */
		-webkit-transition-duration: 2s;
		/* Safari */
		transition-property: all;
		transition-duration: 2s;
	}

	.tabToSlider .fl-tabs-labels .fl-tabs-label,
	.tabToSlider .fl-tabs-panel-content.fl-tab-active,
	.tabToSlider .fl-tabs-labels {
		display: block;

	}

	.tabToSlider .fl-tabs-labels .fl-tabs-label {
		font-size: 0;
		border: 1px solid #000 !important;
		padding: 5px;
		line-height: 1;
		border-radius: 100%;
		margin: 0 5px;
		background: #000;
	}

	.tabToSlider .fl-tabs-labels {
		display: flex;
		margin: 20px 0;
		justify-content: center;
	}

	.tabToSlider .fl-tabs-panel {
		border: 0;
	}

	.tabToSlider .fl-tabs-labels .fl-tabs-label.fl-tab-active {
		background: #fff;
		border: 1px solid #c5ad7c !important;
	}

	#nav_menu-2 #menu-footer-menu li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.41);
		text-align: center;
	}

	#nav_menu-2 #menu-footer-menu li a,
	.copyRight ul li a {
		font-weight: 200;
	}

	.fl-page-footer-wrap #gform_1 .gform_title {
		padding: 0 20px;
	}

	.fl-page-footer-wrap #gform_1 #input_1_2 {
		padding-left: 20px;
	}

	.featureBrand span {
		letter-spacing: 1px;
		font-weight: 400;
	}

	.fl-page-footer-wrap .featureBrand {
		border-bottom: 1px solid rgba(255, 255, 255, 0.41);
	}

	.fl-page-footer-wrap #text-2.fl-widget {
		margin-bottom: 10px;
	}

	.maxwidth-60,
	.fl-builder-content .fl-node-5ad9f5c75c9e7 {
		max-width: 90% !important;
		width: 100% !important;
	}

	.leftSideImageSection .staticContentS>.fl-module-content,
	.rightSideImageSection .staticContentS>.fl-module-content {
		margin: 0 15px;
	}

	/* 	product listing page */

	.page-id-254 .product-grid .col-md-6.col-sm-6,
	.page-id-22521 .product-grid .col-md-6.col-sm-6,
	.page-id-22517 .product-grid .col-md-6.col-sm-6,
	.page-id-22524 .product-grid .col-md-6.col-sm-6,
	.page-id-22527 .product-grid .col-md-6.col-sm-6 {
		padding: 0 15px;
	}

	.productListingView {}

	.product-detail {
		padding-top: 55px;
	}

	.fl-page-header-logo a {
		padding: 20px 15px;
	}

	.ImgactiveM .fa {
		display: block !important;
	}

	.staticContentS .fl-module-content {
		margin-left: 0;
	}

	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu li a:before {
		display: none;
	}

	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu li {
		border-top: 1px solid #888888;
	}

	.carpetFaq .fl-tabs-label {
		border-bottom: 1px solid #ccc;
		padding: 12px 0;
	}

	.carpetFaq .fl-tabs-label.fl-tab-active {
		padding: 12px 0;
	}

	.carpetFaq .fl-tabs-labels {
		display: block;
	}

	.carpetFaq .fl-tabs-panel-content {
		width: 90%;
	}

	.carpetFaq .fl-tabs-panel .fl-tabs-panel-label {
		display: none;
	}

	.page-id-228 .fl-photo-content {
		margin-bottom: 20px;
	}

	.page-id-228 .fl-row-content-wrap {
		padding-top: 0;
	}

	.fl-builder-content a.fl-button {
		border-radius: 0;
		width: 100%;
	}

	.brosweCatalog h2 {
		padding-top: 10px;
	}

	.kitchenNavigation ul {
		padding: 0;
	}

	.kitchenNavigation ul li {
		margin: 5px 0;
		display: block;
	}

	.kitchenNavigation ul li a.active {
		padding-bottom: 0;
	}

	.staticContent.basicontent h1 {
		font-size: 36px !important;
	}

	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle {
		top: 20px;
	}

	.fl-page-nav-toggle-icon .fl-page-nav-collapse {
		top: 0;
		z-index: 1;
	}

	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle {
		z-index: 11;
	}

	.fl-page-nav-right .fl-page-nav-search a.fa-search {
		padding-top: 27px;
	}
}


@media (max-width: 480px) {
	.fr-slider .arrow {
		top: 15px;
	}
	.fl-page-header-primary .fl-logo-img {
		max-width: 100% !important;
	}
	.kitchenContentBg table{
		width: 100%;
	}
	.gform_wrapper .gfield_checkbox li label,
	.gform_wrapper .gfield_radio li label {
		margin: 0;
		font-size: 14px;
		font-weight: 400;
	}
	h1 {
		font-size: 35px !important;
		line-height: 40px !important;
	}
	h2 {
		font-size: 30px !important;
		line-height: 35px !important;
	}
}

@media (min-width: 1920px) {
	.staticContentS p {
		font-size: 18px !important;
	}
}

.page-list a {
	color: #888181;
}